<div class="login-container">
  <div class="left-side">
        <img src="assets/imagem.png" alt="Imagem ilustrativa" class="login-image"  />
  </div>

  <div class="right-side">
    <div class="logo-completo">
        <img src="assets/logo.png" alt="Logo do sistema" class="logo-imagem" />
        <div class="textos">
            <h2>ProMed</h2>
            <h2 class="barra"></h2>
            <p>Prontuário Médico</p>
        </div>
    </div>

    <form class="login-form" (ngSubmit)="cadastrarUsuario()" #cadastroForm="ngForm">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>CPF</mat-label>
        <input matInput name="cpf" [(ngModel)]="cadastroData.cpf" required placeholder="Digite seu CPF" #cpf="ngModel" />
        <mat-error *ngIf="cpf.invalid && cpf.touched">
          <small *ngIf="cpf.errors?.['required']">CPF é obrigatório</small>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput name="nome" [(ngModel)]="cadastroData.nome" required placeholder="Digite seu nome" #nome="ngModel" />
        <mat-error *ngIf="nome.invalid && nome.touched">
          <small *ngIf="nome.errors?.['required']">Nome é obrigatório</small>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Sobrenome</mat-label>
        <input matInput name="sobrenome" [(ngModel)]="cadastroData.sobrenome" required placeholder="Digite seu sobrenome" #sobrenome="ngModel" />
        <mat-error *ngIf="sobrenome.invalid && sobrenome.touched">
          <small *ngIf="sobrenome.errors?.['required']">Sobrenome é obrigatório</small>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput name="email" [(ngModel)]="cadastroData.email" email required placeholder="Digite seu email" #email="ngModel" />
        <mat-error *ngIf="email.invalid && email.touched">
          <small *ngIf="email.errors?.['required']">Email é obrigatório</small>
          <small *ngIf="email.errors?.['email']">Email inválido</small>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Endereço</mat-label>
        <input matInput name="endereco" [(ngModel)]="cadastroData.endereco" required placeholder="Digite seu endereço" #endereco="ngModel" />
        <mat-error *ngIf="endereco.invalid && endereco.touched">
          <small *ngIf="endereco.errors?.['required']">Endereço é obrigatório</small>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput type="date" name="dataNascimento" [(ngModel)]="cadastroData.dataNascimento" required #dataNascimento="ngModel" />
        <mat-error *ngIf="dataNascimento.invalid && dataNascimento.touched">
          <small *ngIf="dataNascimento.errors?.['required']">Data de Nascimento é obrigatória</small>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput name="senha" type="password" placeholder="Digite sua senha" [(ngModel)]="cadastroData.senha" minlength="6" maxlength="10" required #senha="ngModel" />
        <mat-error *ngIf="senha.invalid && senha.touched">
          <small *ngIf="senha.errors?.['required']">Senha é obrigatória</small>
          <small *ngIf="senha.errors?.['minlength']">Senha deve ter no mínimo 6 caracteres</small>
          <small *ngIf="senha.errors?.['maxlength']">Senha deve ter no máximo 10 caracteres</small>
        </mat-error>
      </mat-form-field>

      <button mat-button type="submit" class="btn">Cadastrar</button>
    </form>
  </div>
</div>