.login-container {
  display: flex;
  height: 100vh;
}

.left-side {
  flex: 1;
  display: flex;
}

.login-image {
  width: 100%;
  height: auto;      
  border-radius: 12px;
  margin: 0 auto;     
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #ffffff;
}

.logo {
  width: 50px;
  margin-bottom: 40px;
  padding-right: 0;
}

.login-form {
  width: 100%;
  max-width: 400px;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.logo-completo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10%;
  margin-right: 0;
}

.logo-imagem {
  width: 60px;
  height: auto;
  margin-bottom: 8px;
}

.textos h2 {
  color: #303030;
  font-weight: 600;
}

.textos {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;
}

.textos h2,
.textos p {
  margin: 0;
}

.btn {
  background-color: #478F96;
  border: #478F96;
  border-radius: 8px;
  width: 100%;
  height: 15%;
  color: #ffffff;
  font-size: medium;
}

.barra {
  display: inline-block;
  width: 1px;               
  height: 20px;            
  background-color: #d3d3d3; 
  margin: 0 10px;
  vertical-align: middle;   
}

mat-error {
  color: #f76457;
  font-size: 20;
}